In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
df= pd.read_csv(r"C:\Users\tejas\Downloads\train.csv")

In [16]:
df

,Id,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour
0,1,30,0,Non-Travel,Research & Development,2,3,Medical,571,3,...,3,0,12,2,11,7,6,7,4,1
1,2,36,0,Travel_Rarely,Research & Development,12,4,Life Sciences,1614,3,...,3,2,7,2,3,2,1,1,2,1
2,3,55,1,Travel_Rarely,Sales,2,1,Medical,842,3,...,3,0,12,3,9,7,7,3,5,1
3,4,39,0,Travel_Rarely,Research & Development,24,1,Life Sciences,2014,1,...,3,0,18,2,7,7,1,7,4,1
4,5,37,0,Travel_Rarely,Research & Development,3,3,Other,689,3,...,3,1,10,2,10,7,7,8,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1623,1624,42,1,Travel_Frequently,Research & Development,19,3,Medical,752,3,...,3,0,7,2,2,2,2,2,3,1
1624,1625,55,1,Travel_Rarely,Sales,2,1,Medical,842,3,...,3,0,12,3,9,7,7,3,5,1
1625,1626,25,1,Travel_Rarely,Sales,9,2,Life Sciences,1439,1,...,3,0,6,2,3,2,2,2,5,1
1626,1627,29,1,Travel_Rarely,Human Resources,13,3,Human Resources,1844,1,...,3,3,4,3,2,2,2,0,5,1
1627,1628,29,1,Travel_Rarely,Research & Development,18,1,Medical,315,3,...,3,0,4,3,4,3,0,1,2,1

In [18]:
df.isnull().sum()
df.Behaviour.unique()

array([1], dtype=int64)

#### Dropping the Behaviour column as it is redundant with all 1s

In [20]:
df.drop(['Behaviour'],axis=1,inplace=True)

In [24]:
df.columns

Index(['Id', 'Age', 'Attrition', 'BusinessTravel', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'CommunicationSkill'],
      dtype='object')

In [25]:
df

,Id,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill
0,1,30,0,Non-Travel,Research & Development,2,3,Medical,571,3,...,14,3,0,12,2,11,7,6,7,4
1,2,36,0,Travel_Rarely,Research & Development,12,4,Life Sciences,1614,3,...,12,3,2,7,2,3,2,1,1,2
2,3,55,1,Travel_Rarely,Sales,2,1,Medical,842,3,...,16,3,0,12,3,9,7,7,3,5
3,4,39,0,Travel_Rarely,Research & Development,24,1,Life Sciences,2014,1,...,13,3,0,18,2,7,7,1,7,4
4,5,37,0,Travel_Rarely,Research & Development,3,3,Other,689,3,...,15,3,1,10,2,10,7,7,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1623,1624,42,1,Travel_Frequently,Research & Development,19,3,Medical,752,3,...,12,3,0,7,2,2,2,2,2,3
1624,1625,55,1,Travel_Rarely,Sales,2,1,Medical,842,3,...,16,3,0,12,3,9,7,7,3,5
1625,1626,25,1,Travel_Rarely,Sales,9,2,Life Sciences,1439,1,...,12,3,0,6,2,3,2,2,2,5
1626,1627,29,1,Travel_Rarely,Human Resources,13,3,Human Resources,1844,1,...,15,3,3,4,3,2,2,2,0,5
1627,1628,29,1,Travel_Rarely,Research & Development,18,1,Medical,315,3,...,13,3,0,4,3,4,3,0,1,2

In [26]:
df.isna().sum()

Id                         0
Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeNumber             0
EnvironmentSatisfaction    0
Gender                     0
JobInvolvement             0
JobRole                    0
JobSatisfaction            0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
OverTime                   0
PercentSalaryHike          0
PerformanceRating          0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsInCurrentRole         0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
CommunicationSkill         0
dtype: int64

#### CHANGING TO CATEGORICAL

In [27]:

df.BusinessTravel = pd.Categorical(df.BusinessTravel)
df['BusinessTravel'] = df.BusinessTravel.cat.codes

df.Department = pd.Categorical(df.Department)
df['Department'] = df.Department.cat.codes

df.EducationField = pd.Categorical(df.EducationField)
df['EducationField'] = df.EducationField.cat.codes

df.Gender = pd.Categorical(df.Gender)
df['Gender'] = df.Gender.cat.codes

df.MaritalStatus = pd.Categorical(df.MaritalStatus)
df['MaritalStatus'] = df.MaritalStatus.cat.codes

df.JobRole = pd.Categorical(df.JobRole)
df['JobRole'] = df.JobRole.cat.codes

df.OverTime = pd.Categorical(df.OverTime)
df['OverTime'] = df.OverTime.cat.codes

In [28]:
df

,Id,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill
0,1,30,0,0,1,2,3,3,571,3,...,14,3,0,12,2,11,7,6,7,4
1,2,36,0,2,1,12,4,1,1614,3,...,12,3,2,7,2,3,2,1,1,2
2,3,55,1,2,2,2,1,3,842,3,...,16,3,0,12,3,9,7,7,3,5
3,4,39,0,2,1,24,1,1,2014,1,...,13,3,0,18,2,7,7,1,7,4
4,5,37,0,2,1,3,3,4,689,3,...,15,3,1,10,2,10,7,7,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1623,1624,42,1,1,1,19,3,3,752,3,...,12,3,0,7,2,2,2,2,2,3
1624,1625,55,1,2,2,2,1,3,842,3,...,16,3,0,12,3,9,7,7,3,5
1625,1626,25,1,2,2,9,2,1,1439,1,...,12,3,0,6,2,3,2,2,2,5
1626,1627,29,1,2,0,13,3,0,1844,1,...,15,3,3,4,3,2,2,2,0,5
1627,1628,29,1,2,1,18,1,3,315,3,...,13,3,0,4,3,4,3,0,1,2

In [29]:
from sklearn.model_selection import train_test_split as tts

In [116]:
X_train,X_test,y_train,y_test = tts(df.drop('Attrition',axis = 1),df['Attrition'],test_size = 0.3,random_state = 0)

In [117]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1139, 27)
(489, 27)
(1139,)
(489,)

#### Using Random Forest Regressor

In [118]:
from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor()

In [119]:
from pprint import pprint
pprint(RFR.get_params())

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'mse',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [120]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt','log2']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 100, num = 10)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2,5,10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1,3,5]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt', 'log2'],
 'min_samples_leaf': [1, 3, 5],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]}

In [122]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
RFR = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = RFR, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)
rf_random.best_params_

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   28.1s
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:   59.0s finished

{'n_estimators': 700,
 'min_samples_split': 2,
 'min_samples_leaf': 1,
 'max_features': 'log2',
 'max_depth': 20,
 'bootstrap': False}

#### HyperParameter tuning using GridSearchCV

In [123]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [False],
    'max_depth': [10,15,20,25,30],
    'max_features': ['log2'],
    'min_samples_leaf': [0, 1, 2],
    'min_samples_split': [1,2,3,4,5],
    'n_estimators': [600,650,700,750,800,850]
}
# Create a based model
rf = RandomForestRegressor()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [124]:
grid_search.fit(X_train,y_train)
grid_search.best_params_

Fitting 3 folds for each of 450 candidates, totalling 1350 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   12.6s
[Parallel(n_jobs=-1)]: Done 349 tasks      | elapsed:   37.5s
[Parallel(n_jobs=-1)]: Done 632 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 997 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 1350 out of 1350 | elapsed:  3.0min finished

{'bootstrap': False,
 'max_depth': 25,
 'max_features': 'log2',
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 800}

In [160]:
RFR = RandomForestRegressor(bootstrap= False,
 max_depth= 25,
 max_features= 'log2',
 min_samples_leaf= 1,
 min_samples_split= 2,
 n_estimators= 500)

In [161]:
RFR.fit(X_train , y_train)

RandomForestRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                      max_depth=25, max_features='log2', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [162]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
print("Training R2 score is " + str(r2_score(np.square(y_train),np.square(RFR.predict(X_train)))))
print("Testing R2 score is " + str(r2_score(np.square(y_test),np.square(RFR.predict(X_test)))))

print(" Training mean_squared_error is " + str(mean_squared_error(np.square(y_train) , np.square(RFR.predict(X_train)))))
print("Testing mean_squared_error is " + str(mean_squared_error(np.square(y_test) , np.square(RFR.predict(X_test)))))


print("Training mean_absolute_error is " + str(mean_absolute_error(np.square(y_train) ,np.square(RFR.predict(X_train)))))
print("Testing mean_absolute_error " + str(mean_absolute_error(np.square(y_test) , np.square(RFR.predict(X_test)))))

Training R2 score is 1.0
Testing R2 score is 0.7123938850470224
 Training mean_squared_error is 0.0
Testing mean_squared_error is 0.07187717276855624
Training mean_absolute_error is 0.0
Testing mean_absolute_error 0.11235856850715745

In [62]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [64]:
RFC=RandomForestClassifier()
pprint(RFC.get_params())

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [74]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt','log2']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [1,3,5,7,9]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 3,4,5]
# Method of selecting samples for training each tree
bootstrap = [True, False]
criterion=['gini','entropy']
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap,
               'criterion':criterion}
pprint(random_grid)

{'bootstrap': [True, False],
 'criterion': ['gini', 'entropy'],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt', 'log2'],
 'min_samples_leaf': [1, 2, 3, 4, 5],
 'min_samples_split': [1, 3, 5, 7, 9],
 'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]}

In [75]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
RFC = RandomForestClassifier()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = RFC, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)
rf_random.best_params_

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    5.4s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   22.7s
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:   48.0s finished

{'n_estimators': 400,
 'min_samples_split': 5,
 'min_samples_leaf': 1,
 'max_features': 'log2',
 'max_depth': None,
 'criterion': 'entropy',
 'bootstrap': False}

In [ ]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [False,True],
    'max_depth': [10,20,30,40,50,60,70,80,90,100,None],
    'max_features': ['log2','sqrt','auto'],
    'min_samples_leaf': [1, 2,3,4,5,6,7],
    'min_samples_split': [1,2,3,4,5,6,7],
    'n_estimators': [100,200,300,400,500,600,700,800,900,1000],
    'criterion':['entropy','gini']
}
# Create a based model
rf = RandomForestClassifier()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [129]:
RFC = RandomForestClassifier(bootstrap= False,
 max_depth= 25,
 max_features= 'log2',
 min_samples_leaf= 1,
 min_samples_split= 2,
 n_estimators= 800,criterion='gini')
RFC.fit(X_train , y_train)
y_pred = RFC.predict(X_train)
y_pred_test = RFC.predict(X_test)
cm_tr  = confusion_matrix(y_train, y_pred).ravel()
cm_te = confusion_matrix(y_test, y_pred_test).ravel()
sensitivity_tr = cm_tr[3]/(cm_tr[3]+cm_tr[2])
specificity_tr = cm_tr[0]/(cm_tr[0]+cm_tr[1])
tpr_tr = sensitivity_tr
fpr_tr = 1 - specificity_tr
# USE THE IMPORTED CONFUSION MATRIX
sensitivity_te = cm_te[3]/(cm_te[3]+cm_te[2])
specificity_te = cm_te[0]/(cm_te[0]+cm_te[1])
tpr_te = sensitivity_te
fpr_te = 1 - specificity_te
# START CODE
print('TPR IN TRAINING DATA : ' , tpr_tr)
print('FPR IN TRAINING DATA : ' , fpr_tr)
print('SENSITIVITY IN TRAINING DATA : ' , sensitivity_tr)
print('SPECIFICITY IN TRAINING DATA : ' , specificity_tr)
print('ACCURACY IN TRAINING DATA : ' , accuracy_score(y_train, y_pred))
# END CODE

print('TPR IN TEST DATA : ' , tpr_te)
print('FPR IN TEST DATA : ' , fpr_te)
print('SENSITIVITY IN TEST DATA : ' , sensitivity_te)
print('SPECIFICITY IN TEST DATA : ' , specificity_te)
print('ACCURACY IN TEST DATA : ' ,accuracy_score(y_test, y_pred_test))
roc_auc_score(y_test, RFC.predict_proba(X_test)[:,1])

TPR IN TRAINING DATA :  1.0
FPR IN TRAINING DATA :  0.0
SENSITIVITY IN TRAINING DATA :  1.0
SPECIFICITY IN TRAINING DATA :  1.0
ACCURACY IN TRAINING DATA :  1.0
TPR IN TEST DATA :  0.8674698795180723
FPR IN TEST DATA :  0.012499999999999956
SENSITIVITY IN TEST DATA :  0.8674698795180723
SPECIFICITY IN TEST DATA :  0.9875
ACCURACY IN TEST DATA :  0.9263803680981595

0.9908299866131192

In [130]:
df1= pd.read_csv(r"C:\Users\tejas\Downloads\test.csv")

In [131]:
df1.BusinessTravel = pd.Categorical(df1.BusinessTravel)
df1['BusinessTravel'] = df1.BusinessTravel.cat.codes
df1.Department = pd.Categorical(df1.Department)

df1['Department'] = df1.Department.cat.codes

df1.EducationField = pd.Categorical(df1.EducationField)

df1['EducationField'] = df1.EducationField.cat.codes

df1.Gender = pd.Categorical(df1.Gender)
df1['Gender'] = df1.Gender.cat.codes

df1.MaritalStatus = pd.Categorical(df1.MaritalStatus)
df1['MaritalStatus'] = df1.MaritalStatus.cat.codes

df1.JobRole = pd.Categorical(df1.JobRole)
df1['JobRole'] = df1.JobRole.cat.codes

df1.OverTime = pd.Categorical(df1.OverTime)
df1['OverTime'] = df1.OverTime.cat.codes

df1.drop(['Behaviour'],axis=1,inplace=True)

In [132]:
df1.head()

,Id,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill
0,1,28,2,1,9,3,3,377,4,1,...,23,4,1,5,3,5,2,0,4,5
1,2,31,2,2,6,4,3,653,1,1,...,22,4,2,13,4,7,7,5,7,3
2,3,37,2,1,6,3,3,474,3,1,...,13,3,2,13,2,7,7,6,7,4
3,4,42,2,1,1,2,1,827,4,0,...,13,3,1,8,4,4,3,0,2,5
4,5,45,0,1,4,2,1,972,3,1,...,12,3,0,9,5,9,7,0,8,2

In [133]:
y1_pred=RFC.predict_proba(df1)[:,1]

#### Displaying predicted attrition values

In [134]:
y1_pred

array([0.08125, 0.0425 , 0.05625, 0.19625, 0.045  , 0.0725 , 0.425  ,
       0.11   , 0.1875 , 0.07625, 0.07125, 0.21875, 0.08375, 0.03375,
       0.045  , 0.06875, 0.3    , 0.115  , 0.1375 , 0.02   , 0.0575 ,
       0.33875, 0.10375, 0.07375, 0.145  , 0.01125, 0.01875, 0.035  ,
       0.66625, 0.06   , 0.0775 , 0.09125, 0.21625, 0.20625, 0.02875,
       0.08875, 0.1225 , 0.1225 , 0.12125, 0.18375, 0.6    , 0.16   ,
       0.045  , 0.06625, 0.05875, 0.0625 , 0.13875, 0.1525 , 0.02875,
       0.21625, 0.23375, 0.0525 , 0.145  , 0.4525 , 0.15   , 0.21   ,
       0.08   , 0.39875, 0.02375, 0.1125 , 0.07125, 0.02   , 0.52375,
       0.03   , 0.1075 , 0.1375 , 0.08125, 0.0525 , 0.1425 , 0.13625,
       0.115  , 0.045  , 0.0925 , 0.1725 , 0.165  , 0.27125, 0.05875,
       0.0675 , 0.045  , 0.4575 , 0.03125, 0.1325 , 0.165  , 0.02875,
       0.1725 , 0.12875, 0.23   , 0.12875, 0.14125, 0.37375, 0.12375,
       0.085  , 0.27125, 0.10375, 0.60125, 0.225  , 0.195  , 0.06875,
       0.0875 , 0.0075 , 0.17125, 0.05   , 0.0625 , 0.1225 , 0.185  ,
       0.11375, 0.03125, 0.06   , 0.0975 , 0.095  , 0.1875 , 0.165  ,
       0.12   , 0.07875, 0.1375 , 0.03125, 0.03125, 0.06375, 0.0675 ,
       0.1175 , 0.45875, 0.13   , 0.055  , 0.3475 , 0.14375, 0.06125,
       0.04375, 0.295  , 0.3525 , 0.09375, 0.14375, 0.035  , 0.10875,
       0.19375, 0.14625, 0.06875, 0.59875, 0.03625, 0.345  , 0.04125,
       0.165  , 0.1475 , 0.04125, 0.03   , 0.05125, 0.27875, 0.08   ,
       0.45125, 0.15625, 0.2325 , 0.27   , 0.15   , 0.0475 , 0.55875,
       0.1125 , 0.0725 , 0.07625, 0.11625, 0.0375 , 0.04625, 0.35875,
       0.14875, 0.05875, 0.0225 , 0.07   , 0.22625, 0.28625, 0.16625,
       0.01375, 0.08375, 0.08125, 0.105  , 0.08   , 0.2425 , 0.02375,
       0.0825 , 0.16625, 0.1125 , 0.1875 , 0.51125, 0.44125, 0.17   ,
       0.6    , 0.1    , 0.475  , 0.235  , 0.04875, 0.02   , 0.06375,
       0.1    , 0.15875, 0.10625, 0.0425 , 0.285  , 0.36375, 0.2225 ,
       0.06375, 0.26125, 0.0475 , 0.04625, 0.34   , 0.2275 , 0.29875,
       0.0975 , 0.16125, 0.0325 , 0.43625, 0.13875, 0.10875, 0.33375,
       0.24125, 0.12375, 0.08375, 0.1325 , 0.34625, 0.57375, 0.34875,
       0.0825 , 0.0875 , 0.07   , 0.07625, 0.08625, 0.1025 , 0.2475 ,
       0.21   , 0.035  , 0.16125, 0.0725 , 0.11625, 0.10625, 0.5125 ,
       0.1325 , 0.06875, 0.2175 , 0.03   , 0.18875, 0.0525 , 0.0575 ,
       0.475  , 0.03875, 0.09375, 0.04375, 0.44   , 0.32   , 0.055  ,
       0.02375, 0.48375, 0.04   , 0.04   , 0.06625, 0.03   , 0.0375 ,
       0.03625, 0.10875, 0.03   , 0.44   , 0.07   , 0.12375, 0.10875,
       0.22   , 0.0125 , 0.0225 , 0.20625, 0.3375 , 0.165  , 0.11125,
       0.085  , 0.04   , 0.40375, 0.065  , 0.05375, 0.105  , 0.6275 ,
       0.4125 , 0.31375, 0.205  , 0.12375, 0.26875, 0.08625, 0.10375,
       0.18125, 0.165  , 0.13   , 0.12375, 0.09875, 0.42125, 0.13   ,
       0.20125, 0.06875, 0.0975 , 0.26125, 0.07875, 0.12375, 0.0725 ,
       0.04125, 0.1875 , 0.06   , 0.09   , 0.3425 , 0.1525 , 0.03625,
       0.04875, 0.0825 , 0.4975 , 0.0775 , 0.1    , 0.16625, 0.0475 ,
       0.10625, 0.0625 , 0.12375, 0.17875, 0.18875, 0.07875, 0.14875,
       0.13   , 0.3475 , 0.13375, 0.035  , 0.18625, 0.1475 , 0.1325 ,
       0.0275 , 0.12625, 0.55875, 0.15125, 0.47   , 0.325  , 0.2275 ,
       0.29375, 0.0975 , 0.255  , 0.0475 , 0.07   , 0.15625, 0.08   ,
       0.17   , 0.0625 , 0.0875 , 0.2975 , 0.0925 , 0.4925 , 0.04625,
       0.24125, 0.19875, 0.17125, 0.1025 , 0.0675 , 0.03375, 0.07375,
       0.02375, 0.02875, 0.085  , 0.09125, 0.01625, 0.32375, 0.19625,
       0.08625, 0.07125, 0.29625, 0.03125, 0.075  , 0.0775 , 0.16875,
       0.42625, 0.12375, 0.1275 , 0.11   , 0.1375 , 0.325  , 0.09625,
       0.05   , 0.09875, 0.4775 , 0.22   , 0.1    , 0.19875, 0.125  ,
       0.22875, 0.02125, 0.33875, 0.08625, 0.07   , 0.03   , 0.40375,
       0.16375, 0.4575 , 0.38   , 0.23   , 0.44625, 0.025  , 0.02375,
       0.245  , 0.08125, 0.0525 , 0.1075 , 0.3575 , 0.0475 , 0.06625,
       0.075  , 0.08875, 0.035  , 0.11   , 0.1925 , 0.2725 , 0.0675 ,
       0.07125, 0.32375, 0.1125 , 0.05125, 0.04   , 0.03625, 0.08875,
       0.12875, 0.11   , 0.01125, 0.48375, 0.1375 , 0.09375, 0.05125,
       0.165  , 0.22875, 0.08625, 0.0925 , 0.11375, 0.0475 , 0.14875,
       0.1075 , 0.11125, 0.075  , 0.04875, 0.0725 , 0.0375 , 0.04875,
       0.105  , 0.01375, 0.0625 , 0.0525 , 0.06875, 0.02   , 0.1    ,
       0.1075 , 0.0875 , 0.00625, 0.075  , 0.03125, 0.05625, 0.2975 ,
       0.0375 , 0.1075 , 0.06875, 0.0975 , 0.44625, 0.10625, 0.06125,
       0.03   , 0.35125, 0.42625, 0.31125, 0.075  , 0.0175 , 0.06875,
       0.27875, 0.15625, 0.3825 , 0.35625, 0.7375 , 0.41375, 0.04875,
       0.1075 ])

In [135]:
df2 = pd.DataFrame(y1_pred, columns = ['Attrition'])

In [136]:
df2['Id'] = np.arange(len(df2)) + 1

In [137]:
df2.head()

   Attrition  Id
0    0.08125   1
1    0.04250   2
2    0.05625   3
3    0.19625   4
4    0.04500   5

In [138]:
df2.set_index(["Id"],inplace=True)

In [139]:
df2

     Attrition
Id
1      0.08125
2      0.04250
3      0.05625
4      0.19625
5      0.04500
..         ...
466    0.35625
467    0.73750
468    0.41375
469    0.04875
470    0.10750

[470 rows x 1 columns]

In [140]:
df2.to_csv("upload21.csv")

In [141]:
df2.to_csv(r"C:\Users\tejas\Downloads\upload21.csv")